= image_tag @user_hash.avatar_thumb
= @user_hash.name

h1 = "User's items"

section id="items"
  .items-page
    = render partial: 'shared/item', collection: @items_hash, as: :item

= paginate @items_hash